// GLOBAL PAGE STYLING SHEET
$black: #000013;
$white: #eff0f5;

// colors retrieved from: https://paletton.com/#uid=5150u0kw0w0jyC+oRxVy4oIDfjr
$color-primary-0: #AF810B;	// Main Primary color */
$color-primary-1: #E3B748;
$color-primary-2: #D4A01C;
$color-primary-3: #916800;
$color-primary-4: #6B4D00;

$color-secondary-1-0: #AF9B0B;	// Main Secondary color (1) */
$color-secondary-1-1: #E3D048;
$color-secondary-1-2: #D4BD1C;
$color-secondary-1-3: #917F00;
$color-secondary-1-4: #6B5E00;

$color-secondary-2-0: #AF620B;	// Main Secondary color (2) */
$color-secondary-2-1: #E39A48;
$color-secondary-2-2: #D47D1C;
$color-secondary-2-3: #914C00;
$color-secondary-2-4: #6B3900;


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}